<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kenesis.mappers.UserMapper">  
  <insert id="insertUser">
  	insert into tbl_user (userid, userpw, homelocation) values (#{userid}, #{userpw}, #{homelocation})
  </insert>
  
  <delete id="deleteUser">
  	delete from tbl_user where userid = #{userid}
  </delete>
  
  <update id="updateUser">
  	update tbl_user set userpw = #{userpw}, homelocation = #{homelocation} where userid = #{userid} 
  </update>
  
  <select id="readUser" resultType="com.kenesis.transcoder.domain.UserVO">
  	select * from tbl_user where userid = #{userid}
  </select>
  
  <update id="updateEncode">
    update tbl_encode set status = #{status}, progress = #{progress} where fileid = #{fileid}
  </update>
</mapper>